chiste_1.json
{"createdAt":"2025-02-27T22:00:22.875Z","updatedAt":"2025-02-27T22:01:35.000Z","id":"jQrBVlJnDpYNx2zS","name":"chiste 1","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"9ac6d7aa-bcac-43db-aae8-a6195dc58c65","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://official-joke-api.appspot.com/jokes/random","options":{}},"name":"Get Joke","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[180,0],"id":"d3793bb6-503e-41f0-88e2-e2e721731ff7"},{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":"david.rodriguez@daweiro.com","ccEmail":"magirogo@gmail.com","bccEmail":"gandhi_2k5@yahoo.com.mx","subject":"Aquí tienes un chiste","text":"={{ $json.setup }} - {{ $json.punchline }}  \n\n","options":{}},"name":"Send Email1","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[380,0],"id":"23b3180a-a675-4a65-baaa-e83273ff42c2","credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Joke","type":"main","index":0}]]},"Get Joke":{"main":[[{"node":"Send Email1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fbf3becf-e11f-4ba5-a094-1df093739cbc","triggerCount":0,"tags":[]}
