clima_2.json
{"createdAt":"2025-02-27T23:02:26.934Z","updatedAt":"2025-02-27T23:53:13.000Z","id":"yHX9znLLSgeHdsDp","name":"clima 2","active":false,"nodes":[{"parameters":{},"id":"c2abb4fb-5350-42a5-bfac-fc903cb7f5ed","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather?q=Monterrey,MX&appid=781b89816976da632b6bdac8add21834&units=metric&lang=es ","options":{}},"id":"df21da8f-e5c6-4ee1-a745-621f07a21068","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[200,0]},{"parameters":{"values":{"string":[{"name":"Temperatura","value":"={{ $json[\"main\"][\"temp\"] + '°C' }}"},{"name":"Humedad","value":"={{ $json[\"main\"][\"humidity\"] + '%' }}"},{"name":"Descripción","value":"={{ $json[\"weather\"][0][\"description\"] }}"}]},"options":{}},"id":"e51fb1d2-c15a-43d0-9e38-38b805209b2e","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[400,0]},{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":"magirogo@gmail.com","ccEmail":"david.rodriguez@daweiro.com","subject":"Clima de Monterrey","text":"=La temperatura es de {{ $json.main.temp }}°C, con una humedad de {{ $json.main.humidity }}% y condiciones de {{ $json.weather[0].description }}.\n","options":{}},"id":"47231b5d-2c5c-40e7-9545-3082e626aeee","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[600,0],"credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}}},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[820,0],"id":"61c2a462-5121-4b04-94de-d30b2e00267b","name":"Schedule Trigger"},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[600,-180],"id":"bfa17a50-c8d7-4f3b-a669-7f70f03b55f2","name":"OpenAI"}],"connections":{"Manual Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d194d457-279c-4f45-9929-ab8282835279","triggerCount":0,"tags":[]}
