gemini_100225-1.json
{"createdAt":"2025-02-10T16:13:01.139Z","updatedAt":"2025-02-10T16:31:36.000Z","id":"pAqCnigjSjKaW5zL","name":"gemini 100225-1","active":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-420,-160],"id":"415c0c3a-47d5-4db2-9715-478e9ca48220"},{"parameters":{"command":"cd /home/n8n/.n8n\n\ngit init\ngit add workflows/*.json\ngit commit -m \"Backup de workflows - $(date +%Y-%m-%d %H:%M:%S)\"\ngit remote add origin https://github.com/TuUsuario/TuRepositorio.git\ngit push -u origin main"},"name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-220,-160],"id":"156aa9b6-a4ed-442b-8415-9ffa2e6efb9e"},{"parameters":{"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[180,-160],"id":"046bccc2-53d5-4eec-87ab-8c00cb2bd303"},{"parameters":{"options":{}},"name":"Set1","type":"n8n-nodes-base.set","typeVersion":1,"position":[180,-20],"id":"5eecd91f-6d9e-41bd-98b9-fc81d6d0c9cb"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Execute Command\"].json[\"exitCode\"]}}","value2":"0"}]}},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-60,-140],"id":"ba0ebb32-7c20-4c60-afae-589a41a47a8b"}],"connections":{"Manual Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Set","type":"main","index":0},{"node":"Set1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9c288fe1-a327-4747-bad6-03e5726c8a6e","triggerCount":0,"tags":[]}
