My_workflow_2.json
{"createdAt":"2025-02-09T04:30:11.260Z","updatedAt":"2025-02-09T04:33:00.000Z","id":"3rhY7FI5oUTN3H55","name":"My workflow 2","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[0,0],"id":"34bc7db3-0f8c-42b7-bffc-64e122d428d7"},{"parameters":{"url":"http://localhost:5678/rest/workflows","options":{}},"name":"Get Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[220,0],"id":"d62d0f92-d18f-4ec3-92c5-65ad0d2dcbac"},{"parameters":{"functionCode":"// Code here will run only once, no matter how many input items there are.\n// More details: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\nreturn $json.data.map(workflow => ({json: workflow}));"},"name":"Split Out Workflows","type":"n8n-nodes-base.function","typeVersion":1,"position":[440,0],"id":"b263504b-16d4-4479-9343-b7e933c8a9d1"},{"parameters":{},"name":"Write to File","type":"n8n-nodes-base.writeFile","typeVersion":1,"position":[660,0],"id":"5b687a00-e76e-4797-9020-96d92bc889fa"},{"parameters":{"command":"git add workflows.json && git commit -m \"Backup de workflows n8n: {{ new Date().toISOString() }}\" && git push origin main"},"name":"Git Push","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[880,0],"id":"8233c3e1-217c-43e3-bd42-69f5dd48a689"}],"connections":{"Start":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Split Out Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"079e434d-73d6-4c4d-a4dc-05f94ebe29d1","triggerCount":0,"tags":[]}
