workflows_backup.json
[{"createdAt":"2025-01-28T04:55:24.700Z","updatedAt":"2025-01-28T05:48:02.000Z","id":"Cp8UbYk5e9zS5j86","name":"backup","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"1029b9cb-90b6-47e1-b7e4-c295e12f3fdf","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"http://localhost:5678/rest/workflows","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,0],"id":"4eff2e4b-751d-48d5-a44d-c7f0b95b1fa9","name":"HTTP Request"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"40969b5f-602c-4936-be69-d2974c2f9bdb","triggerCount":0,"tags":[]},{"createdAt":"2025-01-28T05:22:14.520Z","updatedAt":"2025-01-28T05:24:21.000Z","id":"2p2WRGmMd9IT3pmO","name":"Demo: My first AI Agent in n8n","active":false,"nodes":[{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list"},"returnAll":true,"options":{"timeMin":"={{ $fromAI('after', 'The earliest datetime we want to look for events for') }}","timeMax":"={{ $fromAI('before', 'The latest datetime we want to look for events for') }}","singleEvents":true,"query":"={{ $fromAI('query', 'The search query to look for in the calendar. Leave empty if no search query is needed') }}"}},"id":"0d7e4666-bc0e-489a-9e8f-a5ef191f4954","name":"Google Calendar","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[880,220]},{"parameters":{"options":{}},"id":"5b410409-5b0b-47bd-b413-5b9b1000a063","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[360,20],"webhookId":"a889d2ae-2159-402f-b326-5f61e90f602e"},{"parameters":{"options":{"systemMessage":"=You're a helpful assistant that the user to answer questions about their calendar.\n\nToday is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}."}},"id":"29963449-1dc1-487d-96f2-7ff0a5c3cd97","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,20]},{"parameters":{"content":"## 👋 Welcome to n8n!\nThis example shows how to build an AI Agent that interacts with your \ncalendar.\n\n### 1. Connect your accounts\n- Claim your `free` 0 OpenAI calls in the `OpenAI model` node \n- Connect your Google account in the `Google Calendar` node credentials section\n\n### 2. Ready to test it?\nClick Chat below and start asking questions! For example you can try `What meetings do I have today?`","height":389,"width":319,"color":6},"id":"eae35513-07c2-4de2-a795-a153b6934c1b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\nDon't have **Google Calendar**? Simply exchange this with the **Microsoft Outlook** or other tools","height":253,"width":226,"color":7},"id":"68b59889-7aca-49fd-a49b-d86fa6239b96","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,280]},{"parameters":{"options":{}},"id":"cbaedf86-9153-4778-b893-a7e50d3e04ba","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[520,220]},{"parameters":{},"id":"75481370-bade-4d90-a878-3a3b0201edcc","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[680,220]},{"parameters":{"content":"### Want to learn more?\nWant to learn more about AI and how to apply it best in n8n? Have a look at our [new tutorial series on YouTube](https://www.youtube.com/watch?v=yzvLfHb0nqE&lc).","height":100,"width":317,"color":6},"id":"907552eb-6e0f-472e-9d90-4513a67a31db","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,400]}],"connections":{"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f47d6e2a-8fee-45e5-9658-3d659b76c336","triggerCount":0,"tags":[]},{"createdAt":"2025-01-28T05:48:50.116Z","updatedAt":"2025-01-28T05:48:50.116Z","id":"z4UYBhpyYNVYIeXz","name":"backup270125","active":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1939ea20-8760-4f6c-8478-5369cccd9895","triggerCount":0,"tags":[]},{"createdAt":"2025-01-28T20:54:43.662Z","updatedAt":"2025-01-28T20:54:43.662Z","id":"R5P68NExUEywLu3R","name":"My w 1","active":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6c997073-ed13-4737-a039-d1694ca7d7f6","triggerCount":0,"tags":[]},{"createdAt":"2025-01-29T02:14:05.688Z","updatedAt":"2025-01-31T22:05:05.000Z","id":"FvuEYpCGCWr3nWCx","name":"backupworkflows5","active":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"mode":"everyMinute"}]}},"id":"6cc5ef9a-e51a-4be6-9026-e86f1026d3bc","name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-500,-220]},{"parameters":{"command":"cp /home/martingilberto/.n8n/database.sqlite /home/martingilberto/.n8n/database_backup_$(date +'%Y-%m-%d_%H-%M-%S').sqlite"},"id":"b4c7f6e6-2a77-4769-ac62-8fb8c3fb544d","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-300,-220]}],"connections":{"Cron":{"main":[[{"node":"Execute Command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1767a63-53ec-4048-afe7-b33fac9b5901","triggerCount":1,"tags":[]},{"createdAt":"2025-01-29T03:44:01.128Z","updatedAt":"2025-01-29T03:44:01.128Z","id":"d9aIATZ6hqba38TA","name":"My workflow 6","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"a44f3bb0-200f-46ad-9d34-0c0012ad1459","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"assistant","operation":"list"},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"bc1dd713-a747-4875-8fc6-1b650fd339d4","name":"OpenAI"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[440,0],"id":"0e8bf9d3-97ce-4a84-a967-e5d7fc30b397","name":"Merge"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4da90429-1ad9-429c-8650-a0173cf46dcd","triggerCount":0,"tags":[]},{"createdAt":"2025-01-30T02:28:15.627Z","updatedAt":"2025-01-30T02:34:58.000Z","id":"sz6gGnElrAhCJwPz","name":"backup 290125-1","active":false,"nodes":[{"parameters":{"command":"sqlite3 ~/.n8n/database.sqlite .dump > backup/n8n_backup.sql"},"name":"Backup SQLite Database","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-340,-200],"id":"2f725591-2dbb-4ba2-9839-2e41fc7e2bc4"},{"parameters":{"operation":"push","owner":"your-github-user","repository":"your-repository"},"name":"Push to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[-140,-200],"id":"07a15043-9630-4c7d-92d1-afe77c40a154"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-540,-200],"id":"31df31a8-9dbe-4b8f-a457-caa86639f4dc","name":"Schedule Trigger"}],"connections":{"Backup SQLite Database":{"main":[[{"node":"Push to GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4646d529-c1cd-4418-b82d-6f6f8b283dac","triggerCount":0,"tags":[]},{"createdAt":"2025-01-30T02:35:31.192Z","updatedAt":"2025-01-30T03:02:31.000Z","id":"TeJfQ9g7XUdP55lD","name":"backup290125-3","active":false,"nodes":[{"parameters":{"command":"if ! command -v sqlite3 &> /dev/null; then echo 'sqlite3 not found' >&2; exit 1; fi; mkdir -p backup && sqlite3 ~/.n8n/database.sqlite .dump > backup/n8n_backup.sql"},"name":"Backup SQLite Database","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[20,-200],"id":"406339d4-45f0-40b5-9497-0e6a3d68fa8c"},{"parameters":{"operation":"push","owner":"your-github-user","repository":"your-repository"},"name":"Push to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[220,-200],"id":"263eb05e-e0f8-4f32-8351-d000d2576714"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,-80],"id":"869795d7-2ebb-4f05-b867-c688d1d6c69c","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-260],"id":"e1425839-823e-4920-b9ae-5b0eebc37d89","name":"When clicking ‘Test workflow’"}],"connections":{"Backup SQLite Database":{"main":[[{"node":"Push to GitHub","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4bc47eda-f4e7-4bc1-a45c-eb713bec6bf5","triggerCount":0,"tags":[]},{"createdAt":"2025-01-30T02:53:35.368Z","updatedAt":"2025-01-30T02:53:35.368Z","id":"CJ3uXuI3EtfO3K1Z","name":"backup290125-3","active":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"676554a1-161c-4c9b-accf-3d393b9e3a9f","triggerCount":0,"tags":[]},{"createdAt":"2025-01-30T03:02:58.982Z","updatedAt":"2025-01-30T03:38:02.000Z","id":"W5D1FnFnv4uK2nTv","name":"backup290125-4","active":false,"nodes":[{"parameters":{"command":"if ! command -v /usr/bin/sqlite3 &> /dev/null; then echo 'sqlite3 not found' >&2; exit 1; fi; mkdir -p backup && /usr/bin/sqlite3 ~/.n8n/database.sqlite .dump > backup/n8n_backup.sql"},"name":"Backup SQLite Database","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-320,-260],"id":"0d236764-54c0-4ded-a498-887e5adef534"},{"parameters":{"operation":"push","owner":"your-github-user","repository":"your-repository"},"name":"Push to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[-120,-260],"id":"2decd575-3601-44fa-89a9-1403b9c7665b"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-540,-140],"id":"5f3d77e3-3181-4b14-9219-0df6595d1f34","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-340],"id":"75b31c49-26dc-413b-92c1-ef0dadfa1539","name":"When clicking ‘Test workflow’"}],"connections":{"Backup SQLite Database":{"main":[[{"node":"Push to GitHub","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6b05f3c2-2707-40ae-b201-1b70a72134c4","triggerCount":0,"tags":[]},{"createdAt":"2025-01-30T03:38:44.602Z","updatedAt":"2025-02-03T01:48:34.000Z","id":"u7J7dJLSRQ49DBn6","name":"Backup290125-SD-1","active":false,"nodes":[{"parameters":{"command":"mkdir -p backup && sqlite3 ~/.n8n/database.sqlite .dump > backup/n8n_backup.sql"},"name":"Backup SQLite Database","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-300,-200],"id":"5c765d6f-c95f-4015-a596-371a4ebcb6cb"},{"parameters":{"resource":"repository","operation":"getPullRequests","owner":{"__rl":true,"value":"martingilberto","mode":""},"repository":{"__rl":true,"value":"backup-n8n","mode":""},"getRepositoryPullRequestsFilters":{}},"name":"Push to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[-100,-200],"id":"f7c1cb94-462e-4a7c-b6cb-78638e559548","credentials":{"githubApi":{"id":"ly0TkBJNHnpFbAte","name":"GitHub account 2"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-300],"id":"c000da3d-235e-4142-919b-baff80283df3","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,-60],"id":"a5a166e7-8f61-4589-9fde-84b7c78868d2","name":"Schedule Trigger"}],"connections":{"Backup SQLite Database":{"main":[[{"node":"Push to GitHub","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f2ce473-845b-471d-9017-72fa5ce0d622","triggerCount":1,"tags":[]},{"createdAt":"2025-02-02T04:06:28.201Z","updatedAt":"2025-02-06T17:14:20.000Z","id":"nVuJnKBzpwo9oOtC","name":"Bn1","active":false,"nodes":[{"parameters":{"executeOnce":false,"command":"mkdir -p backup && sqlite3 ~/.n8n/database.sqlite \\\n\"SELECT json_group_array(json_object('id', id, 'name', name, 'active', active, 'nodes', nodes, 'connections', connections, 'createdAt', createdAt, 'updatedAt', updatedAt)) FROM workflow_entity;\" \\\n> backup/workflows_backup.json && cat backup/workflows_backup.json\n\n"},"name":"Backup SQLite Database","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[260,100],"id":"b79aba3b-f579-4f1f-9c7b-904378232f89","alwaysOutputData":true,"retryOnFail":true,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"martingilberto","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n","mode":"name"},"filePath":"workflows_backup.json","fileContent":"{{ JSON.stringify($node[\"Code\"].json.output) }}","commitMessage":"\"Backup automático de workflows de n8n\""},"name":"Push to GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[640,100],"id":"4991a867-9e54-40a2-864c-96d40fd14db6","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"credentials":{"githubOAuth2Api":{"id":"Lp4nUSEmN3oWNbEc","name":"GitHub account 4"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"bc3d340d-3c27-41c2-a2e7-cfea00bc8a6d","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,240],"id":"b0f99434-28e9-4c1b-9787-d741bbfc00a2","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Obtener la salida del nodo Backup SQLite Database\nconst data = $node[\"Backup SQLite Database\"].json.stdout;\n\n// Imprimir los datos para depuración\nconsole.log(\"Salida del backup:\", data);\n\n// Retornar el contenido formateado como JSON válido\nreturn [{ \"output\": JSON.stringify(JSON.parse(data), null, 2) }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,100],"id":"c8b222c3-d548-4fc6-a15f-700a6c6c1578","name":"Code"}],"connections":{"Backup SQLite Database":{"main":[[{"node":"Code","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Backup SQLite Database","type":"main","index":0}]]},"Code":{"main":[[{"node":"Push to GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"abaf39fa-75a3-4eb4-a240-519706ee3d1f","triggerCount":1,"tags":[]},{"createdAt":"2025-02-09T04:22:55.910Z","updatedAt":"2025-02-09T04:22:55.910Z","id":"tqBNSVxe9YsanY40","name":"Gemini 1","active":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d7ade531-76a2-4d20-9442-a72bab23b517","triggerCount":0,"tags":[]},{"createdAt":"2025-02-09T04:30:11.260Z","updatedAt":"2025-02-09T04:33:00.000Z","id":"3rhY7FI5oUTN3H55","name":"My workflow 2","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[0,0],"id":"34bc7db3-0f8c-42b7-bffc-64e122d428d7"},{"parameters":{"url":"http://localhost:5678/rest/workflows","options":{}},"name":"Get Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[220,0],"id":"d62d0f92-d18f-4ec3-92c5-65ad0d2dcbac"},{"parameters":{"functionCode":"// Code here will run only once, no matter how many input items there are.\n// More details: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\nreturn $json.data.map(workflow => ({json: workflow}));"},"name":"Split Out Workflows","type":"n8n-nodes-base.function","typeVersion":1,"position":[440,0],"id":"b263504b-16d4-4479-9343-b7e933c8a9d1"},{"parameters":{},"name":"Write to File","type":"n8n-nodes-base.writeFile","typeVersion":1,"position":[660,0],"id":"5b687a00-e76e-4797-9020-96d92bc889fa"},{"parameters":{"command":"git add workflows.json && git commit -m \"Backup de workflows n8n: {{ new Date().toISOString() }}\" && git push origin main"},"name":"Git Push","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[880,0],"id":"8233c3e1-217c-43e3-bd42-69f5dd48a689"}],"connections":{"Start":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Split Out Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"079e434d-73d6-4c4d-a4dc-05f94ebe29d1","triggerCount":0,"tags":[]},{"createdAt":"2025-02-10T16:13:01.139Z","updatedAt":"2025-02-10T16:31:36.000Z","id":"pAqCnigjSjKaW5zL","name":"gemini 100225-1","active":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-420,-160],"id":"415c0c3a-47d5-4db2-9715-478e9ca48220"},{"parameters":{"command":"cd /home/n8n/.n8n\n\ngit init\ngit add workflows/*.json\ngit commit -m \"Backup de workflows - $(date +%Y-%m-%d %H:%M:%S)\"\ngit remote add origin https://github.com/TuUsuario/TuRepositorio.git\ngit push -u origin main"},"name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-220,-160],"id":"156aa9b6-a4ed-442b-8415-9ffa2e6efb9e"},{"parameters":{"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[180,-160],"id":"046bccc2-53d5-4eec-87ab-8c00cb2bd303"},{"parameters":{"options":{}},"name":"Set1","type":"n8n-nodes-base.set","typeVersion":1,"position":[180,-20],"id":"5eecd91f-6d9e-41bd-98b9-fc81d6d0c9cb"},{"parameters":{"conditions":{"string":[{"value1":"={{$node[\"Execute Command\"].json[\"exitCode\"]}}","value2":"0"}]}},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[-60,-140],"id":"ba0ebb32-7c20-4c60-afae-589a41a47a8b"}],"connections":{"Manual Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Set","type":"main","index":0},{"node":"Set1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9c288fe1-a327-4747-bad6-03e5726c8a6e","triggerCount":0,"tags":[]},{"createdAt":"2025-02-16T01:19:27.518Z","updatedAt":"2025-02-16T01:37:30.000Z","id":"x47uN3hD1i0q8h9a","name":"My workflow 7","active":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":2}]}},"name":"Cron Backup","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,0],"id":"9715330b-f233-4246-8e56-ff50adf83d9c"},{"parameters":{"url":"http://localhost:5678/rest/workflows","jsonParameters":true,"options":{}},"name":"Obtener Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[200,0],"id":"969f5e0b-8b83-441c-a779-eb34f2faebc4"},{"parameters":{"batchSize":1,"options":{}},"name":"Dividir en Workflows","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[400,0],"id":"0dd17483-8761-45ae-8cbe-3e48cb6d3053"},{"parameters":{"url":"http://localhost:5678/rest/workflows/{{$json[\"id\"]}}","jsonParameters":true,"options":{}},"name":"Obtener Workflow Detallado","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[600,0],"id":"25694bdd-1ea6-4ce6-81a1-dca81dc42761"},{"parameters":{"authentication":"oAuth2","options":{}},"name":"Subir a Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[800,0],"id":"d115e665-6ad8-47bd-a30d-854d555ecb63"}],"connections":{"Cron Backup":{"main":[[{"node":"Obtener Workflows","type":"main","index":0}]]},"Obtener Workflows":{"main":[[{"node":"Dividir en Workflows","type":"main","index":0}]]},"Dividir en Workflows":{"main":[[{"node":"Obtener Workflow Detallado","type":"main","index":0}]]},"Obtener Workflow Detallado":{"main":[[{"node":"Subir a Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"92243d29-c808-4289-9bfd-405aa0495688","triggerCount":0,"tags":[]},{"createdAt":"2025-02-20T16:49:28.030Z","updatedAt":"2025-02-20T16:49:28.030Z","id":"LooRNEnBLN78fpbj","name":"Qwen backup","active":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"37116397-6b2e-4d6f-af7e-23dbc52d17a5","triggerCount":0,"tags":[]},{"createdAt":"2025-02-20T21:47:05.300Z","updatedAt":"2025-02-24T03:59:20.000Z","id":"ktUAOdHR3l8c38ae","name":"send email","active":false,"nodes":[{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":" ","subject":"prueba 8","options":{"bccEmail":"magirogo@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[440,0],"id":"cc8dba40-ebc1-4b3b-a9a0-a1da2ba8c2f9","name":"Send Email","alwaysOutputData":true,"notesInFlow":true,"executeOnce":true,"credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}},"onError":"continueRegularOutput","notes":"Animo"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"43fdc27f-2439-475e-9560-91c3e4b2796f","name":"When clicking ‘Test workflow’"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4581d76-2b59-4628-a6eb-6d2768165507","triggerCount":0,"tags":[]},{"createdAt":"2025-02-24T20:31:01.115Z","updatedAt":"2025-02-26T03:34:58.000Z","id":"1R7sB9kV9j8gB633","name":"chiste","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,-140],"id":"90e3d5d1-a66c-4ce6-ae20-15d0a0ec16e3","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://official-joke-api.appspot.com/jokes/random","options":{}},"name":"Get Joke","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[80,-140],"id":"d0f93e74-92f2-469c-9135-5121527b1327"},{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":"david.rodriguez@daweiro.com","ccEmail":"magirogo@gmail.com","bccEmail":"gandhi_2k5@yahoo.com.mx","subject":"Aquí tienes un chiste","text":"={{ $json.setup }} - {{ $json.punchline }}  \n\n","options":{}},"name":"Send Email1","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[280,-140],"id":"a7c7c53d-522c-46c5-bb26-294ecae126a6","credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Joke","type":"main","index":0}]]},"Get Joke":{"main":[[{"node":"Send Email1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8e24fc0-a3a9-45dd-bbef-2de1cd6e5e8f","triggerCount":0,"tags":[]},{"createdAt":"2025-02-25T03:29:50.201Z","updatedAt":"2025-02-26T03:33:18.000Z","id":"OLm8uR02Kn87iuFf","name":"n8nclimayemail","active":false,"nodes":[{"parameters":{},"id":"8224ee6c-9dfe-4b91-acf2-84e584e0b514","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-120]},{"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather?q=Monterrey,MX&appid=781b89816976da632b6bdac8add21834&units=metric&lang=es ","options":{}},"id":"e5cc3438-6c6e-446f-87f4-c4b1b1fb4852","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-40,-120]},{"parameters":{"values":{"string":[{"name":"Temperatura","value":"={{ $json[\"main\"][\"temp\"] + '°C' }}"},{"name":"Humedad","value":"={{ $json[\"main\"][\"humidity\"] + '%' }}"},{"name":"Descripción","value":"={{ $json[\"weather\"][0][\"description\"] }}"}]},"options":{}},"id":"b8323a1c-d2c2-4c71-8160-c99c3a1fd432","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[160,-120]},{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":"magirogo@gmail.com","ccEmail":"david.rodriguez@daweiro.com","subject":"Clima de Monterrey","text":"=La temperatura es de {{ $json.main.temp }}°C, con una humedad de {{ $json.main.humidity }}% y condiciones de {{ $json.weather[0].description }}.\n","options":{}},"id":"250bd539-6f2f-45ba-8a4b-cd0d2e172cf1","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[360,-120],"credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3d1cff7a-d2fa-46a0-8e00-de259d0a520b","triggerCount":0,"tags":[]},{"createdAt":"2025-02-27T03:31:30.782Z","updatedAt":"2025-02-27T16:49:57.000Z","id":"9iEbOo7pRv7gC8Ex","name":"My workflow 8","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"01506676-f782-44e6-ba94-06b6911a11db","name":"When clicking ‘Test workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[480,0],"id":"a161a388-789a-4be2-a526-32ccf3c94510","name":"n8n","credentials":{"n8nApi":{"id":"29zPD1KNHqdFIqot","name":"n8n account"}}},{"parameters":{"url":"http://localhost:5678/rest/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,0],"id":"5c615ba0-22ed-4619-a30f-4e386a55087c","name":"HTTP Request","credentials":{"n8nApi":{"id":"29zPD1KNHqdFIqot","name":"n8n account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"n8n":{"main":[[]]},"HTTP Request":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"117ab831-29d7-49ae-96ee-29359e9264d6","triggerCount":0,"tags":[]},{"createdAt":"2025-02-27T22:00:22.875Z","updatedAt":"2025-02-27T22:01:35.000Z","id":"jQrBVlJnDpYNx2zS","name":"chiste 1","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"9ac6d7aa-bcac-43db-aae8-a6195dc58c65","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://official-joke-api.appspot.com/jokes/random","options":{}},"name":"Get Joke","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[180,0],"id":"d3793bb6-503e-41f0-88e2-e2e721731ff7"},{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":"david.rodriguez@daweiro.com","ccEmail":"magirogo@gmail.com","bccEmail":"gandhi_2k5@yahoo.com.mx","subject":"Aquí tienes un chiste","text":"={{ $json.setup }} - {{ $json.punchline }}  \n\n","options":{}},"name":"Send Email1","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[380,0],"id":"23b3180a-a675-4a65-baaa-e83273ff42c2","credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Joke","type":"main","index":0}]]},"Get Joke":{"main":[[{"node":"Send Email1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fbf3becf-e11f-4ba5-a094-1df093739cbc","triggerCount":0,"tags":[]},{"createdAt":"2025-02-27T23:02:26.934Z","updatedAt":"2025-02-27T23:53:13.000Z","id":"yHX9znLLSgeHdsDp","name":"clima 2","active":false,"nodes":[{"parameters":{},"id":"c2abb4fb-5350-42a5-bfac-fc903cb7f5ed","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather?q=Monterrey,MX&appid=781b89816976da632b6bdac8add21834&units=metric&lang=es ","options":{}},"id":"df21da8f-e5c6-4ee1-a745-621f07a21068","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[200,0]},{"parameters":{"values":{"string":[{"name":"Temperatura","value":"={{ $json[\"main\"][\"temp\"] + '°C' }}"},{"name":"Humedad","value":"={{ $json[\"main\"][\"humidity\"] + '%' }}"},{"name":"Descripción","value":"={{ $json[\"weather\"][0][\"description\"] }}"}]},"options":{}},"id":"e51fb1d2-c15a-43d0-9e38-38b805209b2e","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[400,0]},{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":"magirogo@gmail.com","ccEmail":"david.rodriguez@daweiro.com","subject":"Clima de Monterrey","text":"=La temperatura es de {{ $json.main.temp }}°C, con una humedad de {{ $json.main.humidity }}% y condiciones de {{ $json.weather[0].description }}.\n","options":{}},"id":"47231b5d-2c5c-40e7-9545-3082e626aeee","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[600,0],"credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}}},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[820,0],"id":"61c2a462-5121-4b04-94de-d30b2e00267b","name":"Schedule Trigger"},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[600,-180],"id":"bfa17a50-c8d7-4f3b-a669-7f70f03b55f2","name":"OpenAI"}],"connections":{"Manual Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d194d457-279c-4f45-9929-ab8282835279","triggerCount":0,"tags":[]}]