workflows/chiste.json
{"createdAt":"2025-02-24T20:31:01.115Z","updatedAt":"2025-02-26T03:34:58.000Z","id":"1R7sB9kV9j8gB633","name":"chiste","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,-140],"id":"90e3d5d1-a66c-4ce6-ae20-15d0a0ec16e3","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://official-joke-api.appspot.com/jokes/random","options":{}},"name":"Get Joke","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[80,-140],"id":"d0f93e74-92f2-469c-9135-5121527b1327"},{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":"david.rodriguez@daweiro.com","ccEmail":"magirogo@gmail.com","bccEmail":"gandhi_2k5@yahoo.com.mx","subject":"Aquí tienes un chiste","text":"={{ $json.setup }} - {{ $json.punchline }}  \n\n","options":{}},"name":"Send Email1","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[280,-140],"id":"a7c7c53d-522c-46c5-bb26-294ecae126a6","credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Joke","type":"main","index":0}]]},"Get Joke":{"main":[[{"node":"Send Email1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8e24fc0-a3a9-45dd-bbef-2de1cd6e5e8f","triggerCount":0,"tags":[]}
