workflows/My_workflow_7.json
{"createdAt":"2025-02-16T01:19:27.518Z","updatedAt":"2025-02-16T01:37:30.000Z","id":"x47uN3hD1i0q8h9a","name":"My workflow 7","active":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":2}]}},"name":"Cron Backup","type":"n8n-nodes-base.cron","typeVersion":1,"position":[0,0],"id":"9715330b-f233-4246-8e56-ff50adf83d9c"},{"parameters":{"url":"http://localhost:5678/rest/workflows","jsonParameters":true,"options":{}},"name":"Obtener Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[200,0],"id":"969f5e0b-8b83-441c-a779-eb34f2faebc4"},{"parameters":{"batchSize":1,"options":{}},"name":"Dividir en Workflows","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[400,0],"id":"0dd17483-8761-45ae-8cbe-3e48cb6d3053"},{"parameters":{"url":"http://localhost:5678/rest/workflows/{{$json[\"id\"]}}","jsonParameters":true,"options":{}},"name":"Obtener Workflow Detallado","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[600,0],"id":"25694bdd-1ea6-4ce6-81a1-dca81dc42761"},{"parameters":{"authentication":"oAuth2","options":{}},"name":"Subir a Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[800,0],"id":"d115e665-6ad8-47bd-a30d-854d555ecb63"}],"connections":{"Cron Backup":{"main":[[{"node":"Obtener Workflows","type":"main","index":0}]]},"Obtener Workflows":{"main":[[{"node":"Dividir en Workflows","type":"main","index":0}]]},"Dividir en Workflows":{"main":[[{"node":"Obtener Workflow Detallado","type":"main","index":0}]]},"Obtener Workflow Detallado":{"main":[[{"node":"Subir a Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"92243d29-c808-4289-9bfd-405aa0495688","triggerCount":0,"tags":[]}
