workflows/n8nclimayemail.json
{"createdAt":"2025-02-25T03:29:50.201Z","updatedAt":"2025-02-26T03:33:18.000Z","id":"OLm8uR02Kn87iuFf","name":"n8nclimayemail","active":false,"nodes":[{"parameters":{},"id":"8224ee6c-9dfe-4b91-acf2-84e584e0b514","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-120]},{"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather?q=Monterrey,MX&appid=781b89816976da632b6bdac8add21834&units=metric&lang=es ","options":{}},"id":"e5cc3438-6c6e-446f-87f4-c4b1b1fb4852","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-40,-120]},{"parameters":{"values":{"string":[{"name":"Temperatura","value":"={{ $json[\"main\"][\"temp\"] + '°C' }}"},{"name":"Humedad","value":"={{ $json[\"main\"][\"humidity\"] + '%' }}"},{"name":"Descripción","value":"={{ $json[\"weather\"][0][\"description\"] }}"}]},"options":{}},"id":"b8323a1c-d2c2-4c71-8160-c99c3a1fd432","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[160,-120]},{"parameters":{"fromEmail":"cbmmartinrodriguez@gmail.com","toEmail":"magirogo@gmail.com","ccEmail":"david.rodriguez@daweiro.com","subject":"Clima de Monterrey","text":"=La temperatura es de {{ $json.main.temp }}°C, con una humedad de {{ $json.main.humidity }}% y condiciones de {{ $json.weather[0].description }}.\n","options":{}},"id":"250bd539-6f2f-45ba-8a4b-cd0d2e172cf1","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[360,-120],"credentials":{"smtp":{"id":"Ejgib9ZnUVdB0YWH","name":"SMTP account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3d1cff7a-d2fa-46a0-8e00-de259d0a520b","triggerCount":0,"tags":[]}
